body {
    background-color: /*color*/;
    margin: 100px 150px 100px 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: ;
    margin: 100px 150px 100px 150px;
    color: black;
    border: 50px solid #2E2E2E;
    padding: 20px;
}