body {
    background-color: #1D1D1D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin:  5% 10% 5% 10%;
    color: black;
    border: 50px solid #2E2E2E;
    padding: 20px;
}

/**************************nav**********************/
.container {
    width: 90%;
    margin: 0 auto;
    color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    color: white;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 23px;
   position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

nav a:hover {
    color:white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

header {
    background:#2E2E2E;
}
/***********************end nav***************************/

/*---------------------------media queries--------------------*/
@media screen and (min-width: 999px) {
    .posts {
        align-items: center;
        flex-direction: column;
    }

    .post {
        max-width: 800px;
        flex-grow: 1;
    }
}

@media screen and (max-width: 998px) and (min-width: 400px) {
    header {
        justify-content: center;
    }

    .posts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .post-container {
        flex-direction: column;
    }

    .post {
        flex-grow: 50%;
    }

    .post-pic {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 399px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        border-radius: 50%;
    }

    .posts {
        flex-basis: auto;
        flex-direction: column;
    }

    .post-container {
        flex-direction: column;
    }

    .post-pic {
        width: 100%;
        height: auto;
    }
}