/*Basics*/
body {
    background-color: #1D1D1D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 5% 10% 5% 10%;
    color: white;
    border: 50px solid #2E2E2E;
    padding: 20px;
}

#logo {
    height: 10%;
    width: 30%;
    position: relative;
    top: 100%;
}

nav {
    width: 105%;
}

/**************************nav**********************/
.container {
    width: 90%;
    margin: 0 auto;
    color: white;
}


header::after {
    content: '';
    display: table;
    clear: both;
}


nav {
    float: right;
}

nav ul {
    margin: 10px;
    padding: 5px;
    list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 23px;
   position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

nav a:hover {
    color:white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

header {
    background:#2E2E2E;
}
/***********************end nav***************************/

h1 {
    color: white;
}

h3 {
    font-size: 400% ;
}

/*link*/
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

/*review*/
#banner {
    width: 100%;
    height: 20vw;
}

#poster {
    width : 20%;
    height: 20%;
}

#stars {
    width : 50% ;
    height: 50%;
}

iframe {
    width: 50%;
    height: 20vw;
}

/*---------------------------media queries--------------------*/
@media screen and (min-width: 1030px) {
    /*desktop*/


    /*grid layout*/
    .titles {
        float: center;
        display: flex;
        justify-content: space-evenly;
    }
    
    .titles ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .titles li {
       display: inline-block;
       margin-left: 70px;
       padding-top: 23px;
       position: relative;
    }
    
    .row {
        display: flex; 
        flex-wrap: wrap;
    }
    
    .column {
        flex: 25%;
        padding: 1%;
    }
    
    
    
    .row-2 {
        display: flex; 
    }
    
    .column-2 {
        flex: 25%;
        padding: 1%;
    }
}

@media screen and (max-width: 1029px) and (min-width: 560px) {
    /*tablet*/
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
    }

    /*overlay*/
    .base {
        position: relative;
        width: 100%;
    }
      
    .base_image {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .base_image-1 {
        height: 20px;
        width: 20px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #00000096;
    }
      
    .base:hover .overlay {
        opacity: 1;
    }
      
    .info {
        color: white;
        font-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media screen and (max-width: 559px) {
    body {
        background-color: #1D1D1D;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        margin: 0;
        color: white;
        border: 20px solid #2E2E2E;
        padding: 20px;
        text-align: center;
    }
    
    header {
        flex-direction: column;
        text-align: center;
    }
    nav {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url();
        background-position: center;
        text-shadow: 0px 0px 10px black, 0px 0px 10px black;
        background-repeat: no-repeat;
        background-size: 150% 125%;
        list-style:none;
        padding:0;
        text-align:center;
        width: 100%;
        padding-bottom: 15px;
        
    }
    
    nav ul {
        width: 100%;
        padding: 0;
        list-style: none;
    }
    
    nav li {
       display: inline;
       text-align: center;
       position: relative;
       
    }
    
    nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
    }
    
    nav a:hover {
        background-color: #555;
        color:white;
    
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
    }
    
    nav a:hover::before {
        width: 100%;
    }
    #logo {
        width: 102%;
        height: 50%;
        display: block;
        
        
    }
    #banner {
        display: none;
    }
    
    #poster {
        margin-top: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .row {
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .column {
        flex: 25%;
        padding: 1%;
    }
   
   
}